{% extends 'base.html.twig' %}

{% block title %}BlogPost{% endblock %}

{% block body %}
    <h1>BlogPost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ blog_post.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ blog_post.content }}</td>
            </tr>
            <tr>
                <th>Banniere</th>
                <td>{{ blog_post.banner }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ blog_post.date ? blog_post.date|date('d-m-Y') : '' }}</td>
            </tr>
            {# <tr>
                <th>Email de l'auteur</th>
                <td>{{ blog_post.author }}</td>
            </tr> #}
            <tr>
                <th>Auteurr</th>
                <td><a href="{{ path('user_show', {'id': blog_post.author.id}) }}">{{ blog_post.author }}</a></td>
            </tr>
        </tbody>
    </table>
{# 

    <h3>Commentaire !!!</h3>
    <div class="comments">
        {% for comm in comments %}
            <table class="table">
                <tbody>
                    <tr>
                        <th>Email</th>
                        <td>{{ comm.email }}</td>
                        <th>Pseudo</th>
                        <td>{{ comm.pseudo }}</td>
                        <th>Contenu</th>
                        <td>{{ comm.content }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    </div>
    <br>
     #}
    <div>
        <h3>Commentaire :</h3>
        {% for comment in comments|slice(0, 30) %}
            <h2> Pseudo : {{ comment.pseudo}} </h2>
            <div>
                <p>{{ comment.content }}</p>
            </div>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') or app.user.username  == blog_post.author %}
                    <a href="{{ path('comment_delete', {'id': comment.id}) }}">Delete</a>
                {% endif %}
            {% endif %}

            <hr>
        {% endfor %}
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


    <a href="{{ path('home') }}">back to list</a>

{% endblock %}
